[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
	pager = lv -c
[color]
	ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
#1.7.6以降
[merge]
	ff = false
#常に pull rebase する必要性は無いような気がするのでとりあえずコメントアウト
#1.7.9以降
#[pull]
#	rebase = true
[branch "master"]
	rebase = true
